<!DOCTYPE html>
<head>
    <title>Open Astronomy Catalogs</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed" rel="stylesheet">
    <link rel = "stylesheet" href = "css/index.css">
</head>
<body>
    <h1>Open Astronomy Catalogs</h1>
    <p>Learn about astronomical events.</p>
<p>
    <a href = "/supernovae">Supernovae</a>
    <a href = "/kilonovae">Kilonovae</a>
</p>
     <div class="footer">
  <p>© Nichole Fernandez</p>
</div>
</body>
</html>
