<!DOCTYPE html>
<head>
    <title>Kilonovae</title>
    <link rel = "stylesheet" href = css/index.css>
</head>
<body>
    <h1>What is a Kilonova?</h1>
    <p>A kilonova is an explosion caused by two neutron stars in a binary system or a neutron star and a black hole merging.</p>
    <p>Below is an artist's rendition of a kilonova.</p>
    <video width="320" height="240" controls>
  <source src="https://upload.wikimedia.org/wikipedia/commons/1/17/Neutron_star_merger_animation_ending_with_kilonova_explosion.webm" type="video/mp4">
Your browser does not support the video tag.
</video>
</body>
</html>